<h2>adoption</h2>

<form class="adopt-form">
  <div>
    <input type="text" id="name-adopt" placeholder="Your pet name">
  </div>
  {{#each animals}}
  <div class="card">
    <div class="">
      <figure class="">
        <a type="submit" id="animal-button" animal-id="{{id}}">
          {{{get_animal types}}}
        </a>
      </figure>
    </div>
    <h3 align="center">{{types}}</h3>
    <h3 align="center">{{prefered_food}}</h3>
    <h3 align="center">{{prefered_activity}}</h3>
  </div>
</form>
{{/each}}
<script src="./js/adopt.js"></script>