<div class="container">
    <p class="title is-2 has-text-centered" style="font-family: 'Cherry Bomb One', cursive; font-size: 5em; color: greenyellow">Adoption</p>
    <form class="adopt-form">
      <div class="field has-addons">
        <div class="control is-expanded">
          <input class="input" type="text" id="name-adopt" placeholder="Your pet name">
        </div>
        <div class="control">
          <a class="button is-info">Adopt</a>
        </div>
      </div>
      <div class="columns is-multiline is-centered is-mobile is-1">
        {{#each animals}}
        <div class="column is-3">
          <div class="card is-flex is-flex-direction-column is-justify-content-center is-small card-equal-height transparent-blur-card">
            <div>
              <figure>
                <button type="button" class="animal-button" data-animal-id="{{id}}">
                  {{{get_animal types}}}
                </button>
              </figure>
            </div>
            <h3 class="title is-4 has-text-centered">{{types}}</h3>
            <h3 class="subtitle is-6 has-text-centered">{{prefered_food}}</h3>
            <h3 class="subtitle is-6 has-text-centered">{{prefered_activity}}</h3>
          </div>
        </div>
        {{/each}}
      </div>
    </form>
    <script src="/js/adopt.js"></script>
  </div>