<br><br>
<div class="container">
    <div class="columns">
        <div class="column is-half">
            <div class="card">
                <div class="card-image">
                    <figure class="drop-zone image" id="{{animal.prefered_food}}" data-id="{{id}}">
                        {{{get_animal animal.types}}}
                    </figure>
                </div>
            </div>
            <p class="pet-name">{{name}}</p>
        </div>
        <div class="container">
            <div class="pet-status">
                <div class="status-bar hunger" data-hunger="{{ hunger }}">
                    <div class="status-fill" id="hunger-fill"></div>
                </div>

                <div class="status-bar mood" data-mood="{{ mood }}">
                    <div class="status-fill" id="mood-fill"></div>
                </div>

                <div class="status-bar energy" data-energy="{{ energy }}">
                    <div class="status-fill" id="energy-fill"></div>
                </div>
            </div>
        </div>
        <div class="container">
            <p class="interaction-title">Food</p>
            {{{get_food 'Steak'}}}
            {{{get_food 'Fish'}}}
            {{{get_food 'Fruit'}}}
            {{{get_food 'Vegetable'}}}
            {{{get_food 'Cheese'}}}
            {{{get_food 'Seeds'}}}
            {{{get_food 'Mouse'}}}
        </div>
        <div class="container">
            <p class="interaction-title">Activity</p>
            <button class="activity-list zoom" data-pet-id="{{id}}">
                {{{get_activity "Running"}}}
            </button>
            <button class="activity-list zoom" data-pet-id="{{id}}">
                {{{get_activity "Petting"}}}
            </button>
            <button class="activity-list zoom" data-pet-id="{{id}}">
                {{{get_activity "Swimming"}}}
            </button>
            <button class="activity-list zoom" data-pet-id="{{id}}">
                {{{get_activity "Reading"}}}
            </button>
            <button class="activity-list zoom" data-pet-id="{{id}}">
                {{{get_activity "Brush"}}}
            </button>
            <button class="activity-list zoom" data-pet-id="{{id}}">
                {{{get_activity "Basketball"}}}
            </button>
            <button class="activity-list zoom" data-pet-id="{{id}}">
                {{{get_activity "Motorsports"}}}
            </button>
        </div>
        <div class="container">
            <p class="interaction-title">Sleep</p>
            {{!-- sleep area --}}
            <button type="button" class="animal-button" id="sleep" data-pet-id="{{id}}"><img
                    src="/assets/images/sleep.png" width="120" height="120"></button>
        </div>
    </div>
</div>
</div>

<script>
    // Set the values in the window scope
    window.hunger = {{ hunger }};
    window.mood = {{ mood }};
    window.energy = {{ energy }};
</script>

<script src="/js/feed.js"></script>
<script src="/js/play.js"></script>

<script src="/js/statusbar.js"></script>